pycache/
*.pyc
.venv/
venv/
browser/

build/
output/
zls_profile/
.browser/
browser/profile/
logs/
*.log
~$*.xlsx

settings.json
input/
Callaway, Alicia Louise - 1500-2026/


.env
.env.*

.DS_Store

playwright-report/
test-results/

*.zip

**/GitHub.token
__pycache__