pycache/
*.pyc
.venv/
venv/
browser/
dist/
build/
output/
zls_profile/
.browser/
browser/profile/
logs/
*.log
~$*.xlsx

settings.json

Callaway, Alicia Louise - 1500-2026

.env
.env.*

.DS_Store

playwright-report/
test-results/

*.zip

**/GitHub.token
__pycache__